<section class="inner-header bg-holder bg-overlay-dark-40"
  style="background-image: url('../../../assets/images/home/3.png'); height: 500px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="inner-title text-white mb-3">Contact Us</h1>
        <p class="inner-subtitle text-white">For seamless cargo management, faster clearance, secure storage, and
          cost-effective logistics, we are here to assist you.</p>
      </div>
    </div>
  </div>
</section>
<section class="py-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb bg-transparent mb-0">
          <li class="breadcrumb-item"><a routerLink="/index"  class="text-success"><i class="fas fa-home mr-1"></i>Home</a></li>
          <li class="breadcrumb-item active"><span>Contact us</span></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!--=================================
Inner Header -->

<!--=================================
Meet our team -->
<section>

<div style="width:100%; max-width:1000px; margin:0 auto;">
  <iframe
    width="100%"
    height="500"
    frameborder="0"
    style="border:0; border-radius:8px; box-shadow:0 6px 18px rgba(0,0,0,0.15);"
    src="https://www.google.com/maps?q=47+Dada+Onijama+Street,+Awodi-Ora+Estate,+Otto-Wharf,+Lagos&output=embed"
    allowfullscreen>
  </iframe>
</div>

</section>
<!--=================================
Meet our team -->

<!--=================================
form -->
<section class="space-ptb bg-light mt-n2">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-md-6 mb-4 mb-md-0">
        <h2 class="mb-5">Need Assistance? Please Complete The Contact Form</h2>
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <div class="form-row">
            <!-- Name -->
            <div class="form-group col-lg-6">
              <input type="text" class="form-control" placeholder="Your name" formControlName="name">
              <div *ngIf="(f['name'].touched || submitted) && f['name'].invalid" class="text-danger">
                Name is required
              </div>
            </div>

            <!-- Subject -->
            <div class="form-group col-lg-6">
              <input type="text" class="form-control" placeholder="Subject" formControlName="subject">
              <div *ngIf="(f['subject'].touched || submitted) && f['subject'].invalid" class="text-danger">
                Subject is required
              </div>
            </div>

            <!-- Email -->
            <div class="form-group col-lg-6">
              <input type="email" class="form-control" placeholder="Your email" formControlName="email">
              <div *ngIf="(f['email'].touched || submitted) && f['email'].errors" class="text-danger">
                <span *ngIf="f['email'].errors['required']">Email is required.</span>
                <span *ngIf="f['email'].errors['email']">Enter a valid email.</span>
              </div>
            </div>

            <!-- Phone -->
            <div class="form-group col-lg-6">
              <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
            </div>

            <!-- Message -->
            <div class="form-group col-lg-12">
              <textarea class="form-control" placeholder="Your message" rows="5" formControlName="message"></textarea>
              <div *ngIf="(f['message'].touched || submitted) && f['message'].invalid" class="text-danger">
                Message is required
              </div>
            </div>

            <!-- Submit -->
            <div class="form-group col-lg-12">
              <button type="submit" class="btn btn-success mt-4">
                Send Message <i class="fas fa-long-arrow-alt-right ml-3"></i>
              </button>
            </div>
          </div>
        </form>


      </div>
      <div class="col-11 col-md-6 col-xl-4 mb-3 mb-md-0">
       <div class="transport-service-info bg-overlay-dark-50 position-relative">
          <div class="box-shadow-flat">
            <img class="img-fluid" src="../../../assets/images/contact/01.jpg" style="width: 100%;" alt="24/7 Support">
          </div>
          <div class="position-absolute p-3 text-white" style="bottom: 20px; left: 20px;">
            <h4 class="text-white fs-5">Our customer service is available 24/7</h4> <br> <br> <br><br>
            <h4 class="text-white">+234 814 323 4116</h4>
            OR
            <h4 class="text-white">+234 806 098 3946</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="successModalLabel">Message Sent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Thank you! Your message has been successfully sent. We will contact you shortly.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal()">Close</button>

      </div>
    </div>
  </div>
</div>

<!--=================================
form -->

<!--=================================
Contact Info -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>Additional Contact Info</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="text-center p-4 p-md-5 border h-100">
          <i class="feature-icon flaticon-headphone fa-4x text-success"></i>
          <h4 class="mt-4">Our Support Center</h4>
          <p class="mb-0">Queena Investment Limited bonded terminal customer support is available for all logistics inquiries and
            assistance.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="text-center p-4 p-md-5 border h-100">
          <i class="feature-icon flaticon-mail fa-4x text-success"></i>
          <h4 class="mt-4">Email Address</h4>
          <p class="mb-0">Info@queenainvestmentltd.com <br> queenainvestmentltd@gmail.com</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center p-4 p-md-5 border h-100">
          <i class="feature-icon flaticon-location-1 fa-4x text-success"></i>
          <h4 class="mt-4">Head office Address</h4>
          <p class="mb-0">47 Dada Onijama Street, Awodi-Ora Estate, Otto-Wharf, Lagos, Nigeria</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Contact Info -->