<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3 class="mb-4 text-center">Queena's Admin Login</h3>
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
        </div>
        <div *ngIf="errorMessage" class="text-danger mb-2">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-dark mt-4 w-100">Login</button>
      </form>
    </div>
  </div>
</div>
<br> <br> <br>